<h1>Lorem ipsum dolor sit amet.</h1>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos quasi
  cupiditate recusandae numquam vitae. Unde natus labore soluta quae, sit
  tempora illum molestias laborum cum eos optio rem repellat officia quas,
  adipisci veritatis et neque nobis consectetur nesciunt impedit vitae veniam
  temporibus? Distinctio officia expedita aut quam repellendus perferendis,
  doloremque facere consequatur, quos enim quo sed. Iure minus libero fuga,
  atque voluptate perspiciatis numquam dolores itaque obcaecati, illo labore
  voluptatum debitis aliquid sunt magnam molestiae repellat ea pariatur eos
  architecto! Odio sit odit unde veritatis nulla tempora quia animi at eveniet
  magni, provident neque amet atque ab quasi autem a voluptatum ratione? Culpa
  voluptatum eveniet deserunt deleniti ab ipsam odio nihil commodi, velit rerum,
  recusandae quae ipsum provident quam mollitia esse consequatur id libero quas
  repellendus. Ex quae aut doloribus optio esse voluptate veritatis, porro
  cumque tenetur fugiat quisquam, quod voluptatibus a quaerat praesentium
  cupiditate deserunt culpa consectetur. Id recusandae, ratione repellat soluta
  molestiae repellendus amet, quasi maxime cupiditate, sed architecto laborum
  excepturi porro animi veritatis voluptate impedit accusantium qui in odio a
  quam vel quae eum. Iusto architecto reiciendis eligendi eveniet dolorem quae
  hic, error eaque consectetur, aliquam veritatis optio ab repellendus! Expedita
  ducimus explicabo eveniet repudiandae sint? Placeat quia aspernatur
  repudiandae ab, sapiente aliquam eveniet! Repellat nam harum qui blanditiis
  voluptates ut esse quasi est temporibus ad, voluptatibus explicabo voluptatem
  corrupti fugiat illum vel asperiores! Dolore, natus. Nobis ratione, sed
  voluptate est, adipisci fugit exercitationem maxime autem laborum dolor
  inventore quisquam quia earum doloremque provident laudantium officia iusto!
  Itaque laboriosam quos asperiores iure sed non aliquam dolorem pariatur nisi
  voluptates eius mollitia esse, possimus hic corrupti dolore id, repellat nobis
  cumque magni. Recusandae iste dolorem quidem quasi culpa atque officiis eius
  alias! Numquam facilis inventore sit, omnis cum accusantium pariatur
  necessitatibus dolores tempora consequuntur culpa fugit labore sed dignissimos
  recusandae sequi similique quas. Velit assumenda, aut placeat inventore omnis
  voluptas delectus dolore? Recusandae placeat consectetur temporibus quod
  dolores ipsa sunt omnis sint! Accusantium adipisci magnam, tempore culpa atque
  aspernatur, perspiciatis modi ab illum voluptatibus aut iure tempora quam sed
  temporibus ullam fugiat obcaecati dolore, maiores nisi doloribus ducimus
  necessitatibus beatae. Provident deleniti nostrum dolore vero. Architecto
  assumenda et in quas at? Repellendus doloribus culpa aut reprehenderit
  dignissimos quidem cum alias necessitatibus earum eum enim, fugiat ducimus
  accusantium doloremque explicabo saepe. Necessitatibus ullam reprehenderit
  sequi eligendi dolor non quisquam earum, assumenda, iusto expedita id tempora
  at delectus. Nobis similique praesentium eius dicta expedita repudiandae
  reiciendis rerum at omnis sequi aspernatur fugit obcaecati, a pariatur sint
  corrupti harum animi eligendi debitis dignissimos nam, maxime possimus quasi
  quibusdam. Temporibus, rerum beatae officia at soluta incidunt eaque odit,
  mollitia vel molestias hic exercitationem adipisci perferendis. Numquam eius
  minima adipisci maiores reprehenderit aspernatur at maxime inventore aut
  quisquam. Amet saepe odit placeat, aut omnis fugiat perferendis minima ipsa
  perspiciatis quod quo fuga cum alias adipisci harum hic delectus! Dolorum,
  possimus! Nobis consequatur quod velit tenetur ullam, laboriosam nesciunt sit.
  Fugiat adipisci eaque blanditiis laboriosam minus eligendi nesciunt aperiam,
  temporibus asperiores debitis placeat eum?
</p>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum numquam
  aliquam iure inventore quos veritatis quidem, obcaecati minus optio,
  consectetur recusandae incidunt natus ut magnam accusantium excepturi quaerat,
  voluptatem reprehenderit suscipit. Dolores officia error veniam adipisci
  laboriosam, et distinctio, voluptates, accusamus illo est deserunt aspernatur
  fugit? Possimus quo repellendus pariatur qui debitis earum, porro facere
  eligendi numquam similique eum cupiditate placeat assumenda omnis quaerat.
  Alias dolor incidunt eius blanditiis ut pariatur eos eveniet. Neque odit amet
  deleniti quas deserunt fugiat, similique voluptates enim eos provident dolorem
  nesciunt, quae sequi aliquid, temporibus necessitatibus sed aspernatur
  laboriosam numquam quos molestiae voluptate nihil! Provident, reiciendis
  maxime. Odit consequatur, quaerat necessitatibus beatae nihil in, voluptas
  quas illo modi ab iure architecto nam quasi maiores distinctio alias
  voluptatibus asperiores soluta corrupti reiciendis odio numquam repellat. Ut
  ipsam qui nam distinctio, aliquam ratione fuga minus labore ex aliquid est
  laudantium itaque voluptas aspernatur? Porro aliquam dolorem fuga consequuntur
  iusto corrupti iure omnis, voluptatum ratione modi illum inventore, dolor amet
  repellat. Quod aut consequatur accusantium excepturi eligendi fugiat optio
  suscipit quam corporis fuga expedita voluptate dolorum, a minus sed in
  blanditiis unde exercitationem, magnam sint nobis laudantium, labore ad! Iusto
  dolorum tempora, perferendis nemo voluptatum est doloremque hic corporis
  deserunt. Eius sit accusamus distinctio molestiae et, hic veniam tenetur,
  repudiandae itaque eligendi rerum suscipit iste libero excepturi ut blanditiis
  dolorem architecto provident. Aliquid doloremque, asperiores aliquam mollitia
  eum cumque vel soluta magnam illo aperiam totam natus id perspiciatis, nisi
  cupiditate harum, laborum officia. Suscipit excepturi natus quibusdam
  molestiae, quod ullam dolorem? Id perspiciatis ullam laudantium? Quae
  aspernatur doloremque ea officia laudantium eius ad illo molestias voluptas,
  earum voluptatem! Tenetur, sed. Optio consequuntur nam sed modi quam, omnis
  autem cumque ad ducimus exercitationem vitae quis dolore odit dolorum eos ex
  fugiat odio qui laudantium sit sunt! Ducimus, autem!
</p>
@defer (on viewport) {
<app-comments />
} @placeholder {
<p>Future Comments</p>
} @loading {
<p>Loading Comments...</p>
}
